/* ItemDetail.module.css */

.itemDetailConteiner {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
}

.itemImg {
    max-width: 150px;
    max-height: 150px;
    margin-right: 20px;
}

.itemDetail {
    flex-grow: 1;
}

.itemDetail h3 {
    margin-bottom: 10px;
}

.itemDetail p {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}
