.itemDetailConteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
    column-gap: 2rem;
    margin-left: 1rem;
    padding-top: 8rem;
    background-color: #f1f6f9;
    height: 100vh;

    
}

.itemDetailConteiner .itemDetail_img {
    grid-column: 1 ;
    grid-row: 1 / span 2; 
    height: 100%;
}

.itemDetailConteiner .itemDetail_img .itemImg {
    width: 100%;
    height: 30rem;
    object-fit:  contain;
}

.itemDetailConteiner .itemDetail_Title{
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 800;
    line-height: 1.7;
    text-align: center;
    padding: 1rem;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.itemDetailConteiner .itemDetail_Title h3 {
    margin-bottom: 10px;
    font-size: 2rem;
}

.itemDetailConteiner .itemDetail_Title h4{
    margin: 0;
    color: #333;
}

.itemDetailConteiner .itemDetail_Title h4 p{
    margin: 0;
    color: #333;
    font-size: 0.8rem;
    text-align: end;
}

.itemDetailConteiner .itemDetail_Title h4 .pLimiteStock{
    animation: highlightAnimation 1.5s infinite;
}

.itemDetailConteiner .itemDetail_Title h5{
   color: #00a650;
}

.itemDetailConteiner .itemDetail_Price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 0px;
}


@keyframes highlightAnimation {
    0% {
      transform: scale(1);
      color: black;
    }
    50% {
      transform: scale(1.1); 
        color: red; 
    }
    100% {
      transform: scale(1); 
      color: black;; 
    }
  }
