.headerConteiner {
    display: flex;
    flex-direction: column;
    justify-content: top; 
    align-items: center;
    padding: 10px;
    background: linear-gradient(to bottom, #95b7cb, #3e617c);
    left: 0;
    bottom: 0;
    width: 12rem; 
    height: 100%; 
}



