

.cartWidgetBadge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-top: 2px solid #ffff;
  border-bottom: 2px solid #ffff;
  width: 80%;
  margin: 1rem 0rem 1rem 0rem;
 padding: 1rem 0rem 1rem 0rem;
  
  
}

.cartIcon {
  margin-right: 0.5rem; 
}

.cartItemCount {
  font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 800;
    line-height: 1.7;
    margin-left: 0.5rem;
    color: #ffff;
}
