@font-face {
    font-family: "ethnocentric-italic";
    src: url(../../style/font/ethnocentric.rg-italic.otf);
  }
  
  @font-face {
    font-family: "ethnocentric";
    src: url(../../style/font/ethnocentricrg.otf);
  }
  
  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
  
    10% {
      transform: rotate(10deg);
    }
  
    30% {
      transform: rotate(-10deg);
    }
  
    50% {
      transform: rotate(6deg);
    }
  
    70% {
      transform: rotate(-4deg);
    }
  
    90% {
      transform: rotate(2deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .navBarStart {
    background: linear-gradient(to right, #95B7CB, #3E617C);
  }
  
  .navBarStart .navbarStart_conteiner .navbarStart_conteiner_brand .fullLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #ffff;
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
        font-style: italic;
        font-weight: 800;
  }
  
  .navBarStart
    .navbarStart_conteiner
    .navbarStart_conteiner_brand
    .fullLogo
    .ervi {
    font-weight: bold;
    letter-spacing: 0.4rem;
    margin: 0;
    margin-left: 0.4rem;
  }
  
  .navBarStart .navbarStart_conteiner .navbarStart_conteiner_brand .fullLogo .g {
    font-size: 1.7em;
    font-weight: bolder;
    margin: 0;
  }
  
  .navBarStart
    .navbarStart_conteiner
    .navbarStart_conteiner_brand
    .fullLogo:hover {
    animation: swing 1s ease-in-out;
  }
  
  .navBarStart .navbarStart_conteiner .navbarStart_conteiner_toggle:hover {
    background-color: #ffff;
    text-align: end;
  }
  
.ml_auto {
  margin-left: auto !important;
}

.navBarStart .basicNavbarNav .navbarStart_conteiner_collapse_ml_auto_link {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 800;
  color: #fff;
}

.navBarStart .basicNavbarNav .navbarStart_conteiner_collapse_ml_auto_link:hover {
  color: #5c7a92;
}

  