.navBarConteiner {
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 800;
    line-height: 1.7;
    color: #ffff;
    width: 80%;
    text-align: center;
}

.navBarConteiner a {
    color: inherit;
    text-decoration: none;
}

.navBarConteiner ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navBarConteiner ul li {
    padding: 10px;
    
}