.itemCountConteiner {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.itemCountConteiner .itemCountButton {
    background-color: #6f99b3;
    border: none;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
    color: #ffff;
}

.cardFotterButton:hover {
    color: #5c7a92;
    cursor: pointer; 
}

.cardFotterButton:focus {
    outline: none;
}

.cardFooter h6 {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: medium;
    text-align: center;
    color: #ffff;
}

.addToCartButton {
    grid-column: span 3;
    color: #ffff;
    background-color: transparent;
    border: none;
}

.addToCartButton:hover {
    color: #5c7a92;
    cursor: pointer; 
}

.addToCartButton:focus {
    outline: none;
}